@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import './variables/variables.scss';

.navBarCls { 
    top: 0px;
    left: 0px;
    width: 18% !important;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 7px -1px 12px #00000012;
    opacity: 1;
    position: relative;
    
    .logo{
        display: flex;
        justify-content: center;
        padding-top: 5px;
        img{
            padding-bottom: 39px;
            width: 94px;
        }
    }

    .none{
        display: none !important;
    }
    
    .imgDiv {
        display: flex;
        flex-direction: column !important;
        align-items: center !important; 

        a {
            text-align: center;
        }
        
        img{
            width: 20%;
            margin-top: 12px;
            padding-bottom: 15px;      
        } 
        
        span {
            font-family: $font-lato;
            font-size: 9px;
            font-weight: 900;
            text-align: center;
            margin-top: -12px;
            color: #b75065;
            margin-bottom: 31px;
        }
    }

    
    .LogCls{
        width: 69%;
        margin-top: 69px;
        padding-bottom: 26px;
        margin-left: 30px; 
    }

    .logoutcls{
        width: 73%;
        border: none;
        margin-left: 12%;
    }
    
   
  
}
