@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import './variables/variables.scss';

.updatePass { 
        display: flex;
        justify-content: center;
        background-image: url("../../public/assets/images/Assets KPI-02.jpg");
        background-size: cover;
        padding-bottom: 40px;
        padding-top: 39px;

    .formCls{
        width: 43%;
        border-radius: 8px;
        background: white
    }

    .logo{
        display: flex;
        justify-content: center;
        padding-top: 25px;
        img{
            width: 94px;
        }
    }
    h2{
        font-family: $font-lato;
        font-weight: 900;
        margin-top: 42px;
        padding-left: 60px;
        font-size: 24px;
        margin-bottom: 0px;
        span{
            color: #C82345;
          
        }
    }
    
    .form {
        padding-left: 53px;
        padding-right: 48px;
        padding-bottom: 93px;
        width: 100%;
        .form-field{
            position: relative;
            button{
                position: absolute !important;
                right: 13px;
                font-size: 24px;
                top: 21px;
                opacity: 0.3;
            }
        }
        input{
            @extend .input_basic;
            box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.16);
            width: 100%;
            margin-top: 18px;
            color: #5d5d5d;
            font-size: 13px;
            padding-top: 16px;
            padding-bottom: 16px;
        }
        input:focus { 
            outline: none !important;
            border-color: #D5123A;
         }

        label{
            position: absolute;
            top: 28px;
            left: 10px;
            color: #5d5d5d;
            opacity: 0.64;
            font-family: $font-lato;
            font-size: 11px;
        }
        .submit{
            border-radius: 6px;
            background: #c82345;
            box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.16);
            color: white;
            width: 100%;
            border: none;
            font-family: $font-lato;
            font-weight: 500;
            margin-top: 29px;
            padding-top: 11px;
            padding-bottom: 13px;
            font-size: 13px;
            margin-bottom: 12px;
        }
      
    }
  
}